<div ng-controlller="LastDrawController" class="row">
    <h2>{{lastDrawTitle}}<span class="last-draw-lottery-type">{{sortTitle}}</span></h2>
    <p class="no-marginbottom">{{provinceTitle}}<span>{{province | uppercase}}</span></p>
    <p>{{dateLastDraw}}</p>
    <ul>
        <li ng-repeat="lastDrawNumber in lastDraw">{{lastDrawNumber}}</li>
        <li class="bonus">{{bonusLastDraw}}</li>
    </ul>
    <p class="no-marginbottom" ng-if="province == 'qc'">{{extraLastDrawTitle}}<span>{{extraLastDraw}}</span></p>
    <p class="no-marginbottom" ng-if="province == 'on'">{{encoreLastDrawTitle}}<span>{{encoreLastDraw}}</span></p>
    <p ng-show="sort == 'lotto649'" class="no-marginbottom">{{guaranteedLastDrawTitle}}<span>{{guaranteedLastDraw}}</span></p>
</div>